#cookiecutter
#fastapi
#tensorly
anytree
arrow
begins
black
boltons
colorama
colorlog
cufflinks
cx_oracle
cython
dill
dynaconf
fastparquet
floweaver
fuzzywuzzy
handcalcs
howdoi
ipympl
ipysankeywidget
ipytree
itables
jellyfish
jmespath
jupyter
jupyter-datatables
jupyterlab
jupyterlab_execute_time
jupyterlab_templates
jupyternotify
loguru
markdown
matplotlib
matplotlib_venn
nested_lookup
nltk
nodejs
numpy
openpyxl
pandas
pandas-profiling
parsedatetime
passgen
pdftotext
pep8
pingouin
prettytable
psutil
ptpython
pyarrow
pymupdf
python-json-logger
python-magic
requests
rise
scikit-learn
scipy
seaborn
sh
simplejson
spacy
streamlit
streamlit-launchpad
surprise
tabulate
tqdm
unidecode
uvicorn
watermark
wikipedia
wordcloud
xlrd
xlsxwriter
xlwt
yellowbrick
